div.img1{
    height: 500px;


    background-color: lightblue;
    background-image: url('../fundos/img/wallpaper002.jpg');
    background-size: cover;
    background-attachment: fixed;
}
div.img2{
    height: 500px;


    background-color: lightblue;
    background-image: url('../fundos/img/wallpaper003.jpg');
    background-size: cover;
    background-attachment: fixed;
}
div.img3{
    height: 500px;

    background-color: lightblue;
    background-image: url('../fundos/img/wallpaper002.jpg');
    background-size: cover;
    background-attachment: fixed;
}
